@* @page "/images/{imageid}/annotations" *@
@page "/images/annotations"
@implements IDisposable
@inject NavigationManager Navigation

<PageTitle>Annotations</PageTitle>

<MatThemeProvider>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <div style="display: flex; align-items: center; gap: 20px;">
                    <img src="img/billede1.png" alt="Profile Picture" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover;">
                    <div>
                        <b style="margin: 0;">Jane Doe</b>
                        <br/>
                        <small style="margin: 0;">Surgeon</small>
                    </div>
                </div>
                <div style="margin-top: 50px">
                    <MatCheckbox @bind-Value="@arteriesMarked">Arteries marked</MatCheckbox>
                </div>
                <div>
                    <MatCheckbox @bind-Value="@veinsMarked">Veins marked</MatCheckbox>
                </div>
                <div>
                    <MatCheckbox @bind-Value="@flowDirectionSet">Flow direction set</MatCheckbox>
                </div>
                <div>
                    <MatCheckbox @bind-Value="@videoReviewed">Video reviewed</MatCheckbox>
                </div>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9">
                <MatButton OnClick="@ChangeTab">Change Tab</MatButton>
                <MatTabGroup>
                    <MatTab Label="Vessels">
                        <div style="padding: 16px;">
                            <b>Blood Vessel Identification</b>
                            <br/>
                            Mark blood vessels, directions, thickness and connectivity
                        </div>
                    </MatTab>
                    <MatTab Label="Flow">
                        <div style="padding: 16px;">
                            <b>Blood Flow Identification</b>
                            <br/>
                            Which direction the blood is flowing; flow analysis tools, with various graphs and visualizations that can be used to determine the blood direction.
                        </div>
                    </MatTab>
                    <MatTab Label="Organs">
                        <div style="padding: 16px;">
                            <b>Organ Identification</b>
                            <br/>
                            Annotation of organs in the image. white light image instead of sum-map (as shown), possibility to select organs from a list, "semantic segmentation" correction, "best guess" functionality.
                        </div>
                    </MatTab>
                </MatTabGroup>
            </div>
        </div>
    </div>
</MatThemeProvider>


@code {
    private string? currentUrl;
    private bool arteriesMarked;
    private bool veinsMarked;
    private bool flowDirectionSet;
    private bool videoReviewed;
    
    public int tabIndex = 0;
 
    void ChangeTab(MouseEventArgs e)
    {
        tabIndex = tabIndex < 3 ? tabIndex + 1 : 0;
    }

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;
}
