@using MatBlazor
@page "/sign-up"


<PageTitle>Register</PageTitle>

<div class="centerpage">
<h1>Sign up here</h1>
<br>
<p>Please provide the following information, and we will get back to you about your user profile.</p>
<br>
<p>
    <MatStringField @bind-Value="@FirstName" placeholder="First Name"></MatStringField>
</p>
<p>
    <MatStringField @bind-Value="@LastName" placeholder="Last Name"></MatStringField>
</p>
<p>
    <MatStringField @bind-Value="@Email" placeholder="E-mail address"></MatStringField>
</p>
<p>
    <MatStringField @bind-Value="@Affiliation" placeholder="Place of work"></MatStringField>
</p>
<p>
    <MatStringField @bind-Value="@JobTitle" placeholder="Job title"></MatStringField>
</p>
<br>
<MatButton class="SignUpButtonSubmit" OnClick="@Click" Raised="true">Sign up</MatButton>

</div>

<MatButtonLink class="loginbutton" Href="/auth/login">Login</MatButtonLink>

@code{
    string FirstName;
    string LastName;
    string Email;
    string Affiliation;
    string JobTitle;


    string ButtonState = "";
    void Click(MouseEventArgs e)
    {
        ButtonState = "Clicked";
    }
        
    /* Call some service that calls a repo, or just call a repo?
    MedicalProfessionalUserModel MPUser = new MedicalProfessionalUserModel{
        Id = 0;//get data somehow, autoincrement
        FirstName = FirstName;
        LastName = LastName;
        Email = Email;
        Affiliation = Affiliation;
        JobTitle = JobTitle;
        TotalAssignmentsFinished = 0;
        ProfilePictureID = 0; //this should probably not be an ID but instead be a direct image upload.
    }
   */
}